*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(2, 2, 2);

}

#root {
  color: white;
  text-transform: capitalize !important;
  display: flex;
  gap: 1rem;

  form {
    height: 35rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    background-color: rgba(9, 9, 9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    padding: 5rem;
    border: rgb(91, 91, 91) .25px solid;

    .form__inputContainer {
      position: relative;

      label {
        position: absolute;
        font-size: 75%;
        top: -10px;
        padding: 0 .25rem;
        left: 5px;
        text-align: center;
        background-color: rgb(9, 9, 9);
      }
  
      input {
        width: 100%;
        font-size: 100%;
        padding: 1rem;
        border-radius: 1rem;
        border: rgb(91, 91, 91) 1px solid;
        background-color: rgb(9, 9, 9);
        color: white;
        outline: none;
        font-style: italic;
      }
    }

    button {
      padding: 1rem;
      font-size: 75%;
      border-radius: 1rem;
      border: none;
      cursor: pointer;
      background-color: rgb(56, 32, 189);
      color: white;

      &:hover {
        filter: saturate(150%);
      }
    }
  }

  .results {
    min-height: 35rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: rgba(9, 9, 9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    padding: 5rem;
    border: rgb(91, 91, 91) .25px solid;

    .results__title {
      font-weight: 400;
    }

    .results__games {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      
      div {
        font-weight: 300;
        text-transform: lowercase;
        width: 12.5rem;
        height: 12.5rem;
        background-color: rgb(56, 32, 189);
        display: flex;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        border-radius: 1rem;

        &:first-letter {
          text-transform: capitalize;
        }
      }
    }
  }
}



