.input {
    padding: .25rem;
    font-size: 1.55rem;
    border-radius: 5px;
    background-color: #393E46;
    border: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    margin: .5rem;
}