*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-family: 'Signika', sans-serif;
}

html {
  font-size: 62,5%;
}

body {
  font-size: 2rem;
  background: white;
  min-height: 100vh;
  color: white;
  background: rgb(23,38,75);
  background: radial-gradient(circle, rgba(23,38,75,1) 0%, rgba(2,7,28,1) 50%);
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 1rem;
}

@media screen and (max-width: 75rem) {
  .main {
    flex-direction: column;
    gap: 2rem;
  }
  .fbCardWrapper{
    width: 100%;
  }
  .fbCard{
    width: 100%;
  }
  .counterCard{
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 10rem;
    height: 10rem;
    font-size: .5rem;
  }
}