
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 62,5%;
}

body {
    background-color: #EEEEEE;
    font-size: 2rem;
    color: #EEEEEE;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}