
.productpage{
    width: 60vw;
    border-radius: .5rem;
    background: linear-gradient(225deg, #ffffff, #e6e6e6);
    box-shadow:  -20px 20px 60px #d9d9d9,
                 20px -20px 60px #ffffff;
}

.productpage__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.productpage__listItem {
    height: 10rem;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: 20% 30% 40% 10%;
}

.productpage__listItem > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.productpage__listItem > button{
    cursor: pointer;
    background: #4393d8;
    outline: none;
    border: none;
    width: 10rem;
    padding: .5rem 2rem;
    border-radius: .5rem;
    color: white;
    border: .2rem solid #4393d8;
}

.productpage__listItem > button:hover {
    background-color: white;
    border: .2rem solid #4393d8;
    color: #4393d8;
}

@media screen and (max-width: 81.25rem){
    .productpage{
        width: 100%;
    }
}

@media screen and (max-width: 50rem){
    .productpage__listItem {
        height: 50rem;
        grid-template-columns: 100%;
    }
}