* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
} 

body {
    font-size: 2rem;
    background-color: #16213E;
    height: 100%;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10%;
    flex-wrap: wrap;
}