.outro{
    width: 60rem;
    height: 40rem;
    background:#eee;
    border-radius:3rem;
    box-shadow: inset 0 -0.5rem 1rem 0rem rgba(0, 18, 83,0.3);
    display:flex;
    justify-content: center;
    align-items: center;
}